.wpmob-opening-hours {
	font-size: 1.5em;
	max-width: 500px;
	margin: 15% auto;
	text-align: center;
	height: auto;
	padding: 2%;
	border: 1px solid rgba(46,129,176, 0.9);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.wpmob-opening-hours * {
	font-size: 1em;
}
