html, body, p {
  color: #6b6b6b;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif; }

p {
  margin: 1em 0;
  line-height: 1.7; }

strong {
  font-weight: 600; }

blockquote, blockquote p {
  margin: 20px 10px;
  color: #3cabda;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4; }

cite {
  display: block;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 14px;
  color: #6b6b6b;
  text-align: right;
  font-size: 18px; }

i, cite, em, var, address, dfn {
  font-style: italic; }

u, ins {
  text-decoration: underline; }

s, strike, del {
  text-decoration: line-through;
  color: inherit; }

abbr[title] {
  border-bottom: 1px dashed #6b6b6b; }

kbd {
  font-weight: bold; }

code, kbd, pre {
  padding: 2px 3px;
  border: 1px solid #f0f0f0;
  background-color: #f5f2f0;
  color: #e14828;
  font-size: 12px;
  font-family: "Monaco", "Menlo", monospace; }

var {
  color: #e14828;
  font-size: 12px;
  font-family: "Monaco", "Menlo", monospace; }

pre {
  padding: 10px 15px;
  line-height: 1.6;
  overflow: auto;
  white-space: pre; }

.subheader {
  color: #3cabda; }

#content h2:first-child {
  margin-top: .5em; }

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  line-height: 1.3; }

h1 {
  margin-top: .8em;
  margin-bottom: .5em;
  font-size: 28px; }
  h1.subheader {
    font-size: 24px; }

h2 {
  margin-top: .8em;
  margin-bottom: .5em;
  font-size: 24px; }
  h2.subheader {
    font-size: 22px; }

h3 {
  margin-top: 0.9em;
  margin-bottom: 0.5em;
  font-size: 22px; }
  h3.subheader {
    font-size: 20px; }

h4 {
  margin-top: .7em;
  margin-bottom: 0.5em;
  font-size: 18px; }
  h4.subheader {
    font-size: 15px; }

h5 {
  margin-top: .8em;
  margin-bottom: 0.5em;
  font-size: 15px; }
  h5.subheader {
    font-size: 14px; }

h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 14px; }
  h6.subheader {
    font-size: 12px; }

a {
  color: #3cabda;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  a:hover {
    color: #2491bf; }

hr {
  margin: 20px 0;
  border-top: 1px solid #f3f3f3;
  border-right: none;
  border-bottom: none;
  border-left: none; }

address {
  line-height: 1.6; }