#bottomtoolbar {
	width: 100%;
	position: fixed;
}
#bottomtoolbar {
	height: 56px;
	z-index: 100001;
	bottom: 0;
	left: 0;
	right: 0;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(34,34,34, 0.9)), to(rgba(34,34,34, 0.9)));
	background: -webkit-linear-gradient(rgba(34,34,34, 0.9), rgba(34,34,34, 0.9));
	background: -moz-gradient(linear, center top, center bottom, from(rgba(34,34,34, 0.9)), to(rgba(34,34,34, 0.9)));
	background: -moz-linear-gradient(rgba(34,34,34, 0.9), rgba(34,34,34, 0.9));
	background: -ms-gradient(linear, center top, center bottom, from(rgba(34,34,34, 0.9)), to(rgba(34,34,34, 0.9)));
	background: -ms-linear-gradient(rgba(34,34,34, 0.9), rgba(34,34,34, 0.9));
	background: -o-gradient(linear, center top, center bottom, from(rgba(34,34,34, 0.9)), to(rgba(34,34,34, 0.9)));
	background: -o-linear-gradient(rgba(34,34,34, 0.9), rgba(34,34,34, 0.9));
	background: gradient(linear, center top, center bottom, from(rgba(34,34,34, 0.9)), to(rgba(34,34,34, 0.9)));
	background: linear-gradient(rgba(34,34,34, 0.9), rgba(34,34,34, 0.9));
}
[class^="icon-"], [class*=" icon-"] {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	text-decoration: inherit;
	display: inline-block;
	speak: none;
}
.toolbar-carousel {
	display: none;
}
.pinasmenubox:before, .pinasmenubox:after, .pinassubmenubox:before, .pinassubmenubox:after {
	position: absolute;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	z-index: 100002;
	-moz-opacity: 0.20;
	opacity: 0.20;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha" (Opacity=20);
}
.pinasmenubox:before, .pinasmenubox:after {
	top: 20px !important;
}
.pinasmenubox:before {
	content: "\f104";
	color: #ffffff;
	left: 2px;
}
.pinasmenubox:after {
	content: "\f105";
	color: #ffffff;
	right: 2px;
}

.owl-carousel .owl-item {
	text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
}

.wpmob-app-icon {
	text-align: center;
	padding-top: 0;
	margin-top: 0px;
	display: inline-block;
}
.wpmob-app-icon .wpmob-icon {
	height: 54px;
	padding: 0px 2px;
}
.wpmob-app-icon .wpmob-icon {
	display: inline-block;
	min-width: 60px;
	margin-top: 2px;
	position: relative;
	text-decoration: none;
	opacity: .98;
	cursor: pointer;
}
.wpmob-app-icon .wpmob-icon:hover, .pinasactbut, .wpmob-app-icon .wpmob-icon.selected {
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(46,129,176, 0.9)), to(rgba(46,129,176, 0.9)));
	background: -webkit-linear-gradient(rgba(46,129,176, 0.9), rgba(46,129,176, 0.9));
	background: -moz-gradient(linear, center top, center bottom, from(rgba(46,129,176, 0.9)), to(rgba(46,129,176, 0.9)));
	background: -moz-linear-gradient(rgba(46,129,176, 0.9), rgba(46,129,176, 0.9));
	background: -ms-gradient(linear, center top, center bottom, from(rgba(46,129,176, 0.9)), to(rgba(46,129,176, 0.9)));
	background: -ms-linear-gradient(rgba(46,129,176, 0.9), rgba(46,129,176, 0.9));
	background: -o-gradient(linear, center top, center bottom, from(rgba(46,129,176, 0.9)), to(rgba(46,129,176, 0.9)));
	background: -o-linear-gradient(rgba(46,129,176, 0.9), rgba(46,129,176, 0.9));
	background: gradient(linear, center top, center bottom, from(rgba(46,129,176, 0.9)), to(rgba(46,129,176, 0.9)));
	background: linear-gradient(rgba(46,129,176, 0.9), rgba(46,129,176, 0.9));
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.wpmob-app-icon .wpmob-icon i {
	color: #ffffff !important;
}
.wpmob-app-icon .wpmob-icon i {
	font-size: 28px;
	line-height: 28px;
	position: relative;
	top: 5px;
}
.wpmob-app-icon .wpmob-icon span {
	line-height: 28px !important;
	font-size: 16px;
	position: relative;
	top: 0px;
	display: block;
}
.wpmob-app-icon .wpmob-icon span.icontext {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 17px;
	text-decoration: none;
	text-transform: none;
}
/**
 * 	App's content
 */
#wpmob-apps-content {
	display: none;
	background: white;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 1000px;
	padding-bottom: 60px;
	left: 0px;
	right: 0px;
	z-index: 100000;
	overflow-x: hidden;
	overflow-y: auto;
}
.wpmob-app-content {
	display: none;
	width: 100%;
	padding: 0%;
}
